<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>DIVIDIR</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="../css/bootstrap.min.css" type="text/css"/>
    </head>
    <body>

        <div class="container">
            <p><a href="/" title="Somar">MENU</a></p>
            <form action="dividir" method="post">
                <input type="text" name="numero1" />
                <input type="text" name="numero2" />

                <input type="submit" name="dividir" value="Dividir" />
            </form>
        </div>

        <p th:if="${resultado}" th:text="'Resultado: ' + ${resultado}" id="resultado" />
    </body>
</html>
